.App {
  background: rgb(220, 243, 252);
  height: 100vh;
}

.slogan {
  background-color: rgb(98, 148, 255);
  height:13rem;
  text-align: center;
}

.upload-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}

.upload-data .pdf {
  display: flex;
  min-height: 5rem;
  min-width: 5rem;
  background-color: aqua;
  padding: 3rem;
}

.upload-data .camera {
  display: flex;
  min-height: 5rem;
  min-width: 5rem;
  background-color: aqua;
  padding: 3rem;
}

.footer {
  display: flex;

  background-color: yellow;
}